// ----------------- DEMO STYLE GUIDE STYLIN’ -----------------

.container {
  padding-top: 50px;
}

.section {
  padding-bottom: 80px;
}

.navbar { 
  .brand {
    margin-left: 10px;
  }
}
//
// Variables
// --------------------------------------------------

.black {
  background-color: @black;
  width: 100px;
  height: 100px;
}

.grayDarker {
  background-color: @grayDarker;
  width: 100px;
  height: 100px;
}

.grayDark {
  background-color: @grayDark;
  width: 100px;
  height: 100px;
}

.gray {
  background-color: @gray;
  width: 100px;
  height: 100px;
}

.grayLight {
  background-color: @grayLight;
  width: 100px;
  height: 100px;
}

.grayLighter {
  background-color: @grayLighter;
  width: 100px;
  height: 100px;
}

.black {
  background-color: @black;
  width: 100px;
  height: 100px;
}

.blue {
  background-color: @blue;
  width: 100px;
  height: 100px;
}

.blueDark {
  background-color: @blueDark;
  width: 100px;
  height: 100px;
}

.green {
  background-color: @green;
  width: 100px;
  height: 100px;
}

.red {
  background-color: @red;
  width: 100px;
  height: 100px;
}

.yellow {
  background-color: @yellow;
  width: 100px;
  height: 100px;
}

.orange {
  background-color: @orange;
  width: 100px;
  height: 100px;
}

.pink {
  background-color: @pink;
  width: 100px;
  height: 100px;
}

.purple {
  background-color: @purple;
  width: 100px;
  height: 100px;
}
              

// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// // Accent colors (Bootstrap)
// // -------------------------
// @blue:                  #049cdb;
// @blueDark:              #0064cd;
// @green:                 #46a546;
// @red:                   #9d261d;
// @yellow:                #ffc40d;
// @orange:                #f89406;
// @pink:                  #c3325f;
// @purple:                #7a43b6;

// Accent colors (Flatly)
// -------------------------
@blue:                  #3498DB;
@blueDark:              #2C3E50;
@green:                 #18BC9C;
@red:                   #E74C3C;
@yellow:                #e6bb0d;
@orange:                #F39C12;
@pink:                  #ff6699;
@purple:                #8E44AD;

// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @grayLight;
@btnBackgroundHighlight:            lighten(@btnBackground, 10%);
@btnBorder:                         #ddd;

@btnPrimaryBackground:              @blue;
@btnPrimaryBackgroundHighlight:     lighten(@btnPrimaryBackground, 10%);

@btnInfoBackground:                 @blueDark;
@btnInfoBackgroundHighlight:        lighten(@btnInfoBackground, 10%);

@btnSuccessBackground:              @green;
@btnSuccessBackgroundHighlight:     lighten(@btnSuccessBackground, 10%);

@btnWarningBackground:              @orange;
@btnWarningBackgroundHighlight:     lighten(@btnWarningBackground, 10%);

@btnDangerBackground:               @red;
@btnDangerBackgroundHighlight:      lighten(@btnDangerBackground, 10%);

@btnInverseBackground:              @grayDarker;
@btnInverseBackgroundHighlight:     lighten(@btnInverseBackground, 10%);

@paddingLarge:          18px 36px; // 44px
@paddingSmall:          2px 12px;  // 26px
@paddingMini:           1px 8px;   // 24px

@baseBorderRadius:      6px;
@borderRadiusLarge:     10px;
@borderRadiusSmall:     3px;


// BUTTONS
// --------------------------------------------------

.btn {
  padding: 9px 20px;
  border: none;
  background-image: none;
  color: @white;
  text-decoration: none;
  text-shadow: none;
  .box-shadow(none);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;

  &:hover,
  &:focus {
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
  }

  &:active,
  &.active {
    .box-shadow(none);
    color: rgba(255, 255, 255, 0.75);
  }

  &.disabled,
  &[disabled] {
    color: white;
  }

  &-large {
    padding: @paddingLarge;
  }

  &-small {
    padding: @paddingSmall;
  }

  &-mini {
    padding: @paddingMini;
  }
}

