.box1 {
		font-size: 24px;
		display: inline-block;
		width: 15em;
		padding: .25em .5em;
		background: #eee;
		margin: .5em 1em .5em 0;
	}

@font-face {
	font-family: 'demo';
	src:url('fonts/demo.eot');
	src:url('fonts/demo.eot?#iefix') format('embedded-opentype'),
		url('fonts/demo.woff') format('woff'),
		url('fonts/demo.ttf') format('truetype'),
		url('fonts/demo.svg#demo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'demo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="demo-icon-"] {
*/
.demo-icon-document-stroke, .demo-icon-star, .demo-icon-star-empty, .demo-icon-user, .demo-icon-ok, .demo-icon-remove, .demo-icon-trash, .demo-icon-tag, .demo-icon-tags, .demo-icon-book, .demo-icon-flag, .demo-icon-search, .demo-icon-edit, .demo-icon-check, .demo-icon-bullhorn, .demo-icon-thumbs-up, .demo-icon-calendar, .demo-icon-group, .demo-icon-comment, .demo-icon-pushpin, .demo-icon-user-add, .demo-icon-add-to-list, .demo-icon-bell, .demo-icon-check-empty, .demo-icon-lock, .demo-icon-comments-alt, .demo-icon-comment-alt, .demo-icon-quote, .demo-icon-book-2, .demo-icon-book-3, .demo-icon-video, .demo-icon-calendar-2 {
	font-family: 'demo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.demo-icon-document-stroke:before {
	content: "\e000";
}
.demo-icon-star:before {
	content: "\f005";
}
.demo-icon-star-empty:before {
	content: "\f006";
}
.demo-icon-user:before {
	content: "\f007";
}
.demo-icon-ok:before {
	content: "\f00c";
}
.demo-icon-remove:before {
	content: "\f00d";
}
.demo-icon-trash:before {
	content: "\f014";
}
.demo-icon-tag:before {
	content: "\f02b";
}
.demo-icon-tags:before {
	content: "\f02c";
}
.demo-icon-book:before {
	content: "\f02d";
}
.demo-icon-flag:before {
	content: "\f024";
}
.demo-icon-search:before {
	content: "\f002";
}
.demo-icon-edit:before {
	content: "\f044";
}
.demo-icon-check:before {
	content: "\f046";
}
.demo-icon-bullhorn:before {
	content: "\f0a1";
}
.demo-icon-thumbs-up:before {
	content: "\f087";
}
.demo-icon-calendar:before {
	content: "\f073";
}
.demo-icon-group:before {
	content: "\f0c0";
}
.demo-icon-comment:before {
	content: "\f075";
}
.demo-icon-pushpin:before {
	content: "\f08d";
}
.demo-icon-user-add:before {
	content: "\e001";
}
.demo-icon-add-to-list:before {
	content: "\e002";
}
.demo-icon-bell:before {
	content: "\e003";
}
.demo-icon-check-empty:before {
	content: "\f096";
}
.demo-icon-lock:before {
	content: "\f023";
}
.demo-icon-comments-alt:before {
	content: "\f0e6";
}
.demo-icon-comment-alt:before {
	content: "\f0e5";
}
.demo-icon-quote:before {
	content: "\e004";
}
.demo-icon-book-2:before {
	content: "\e005";
}
.demo-icon-book-3:before {
	content: "\e006";
}
.demo-icon-video:before {
	content: "\e007";
}
.demo-icon-calendar-2:before {
	content: "\e008";
}
